body {
	margin: 0;
	background: lightblue;
}

#page {
	
}

#wheel {

	img {
		max-height: 100%;
		max-width: 100%;
		margin-left: -50%;
	}
}

#logo-div {
	display: flex;
	justify-content: center;
	flex-direction: center;
	height: 200px;
	#logo {
		display: flex;
		justify-content: center;
	}
	img {
		max-height: 100%;
	}
}

#arrow {
	position: absolute;
   right: 46%;
   top: 45%;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-right: 70px solid firebrick;
   opacity: 0.8;
   border-radius: 25px;
}

.btn-success {
	max-height: 60px;
   position: absolute;
   right: 5%;
   top: 45.5%;
}

.container {

}

.alphabet {
	text-align: center;
	border: 1px solid black;
}

.vowel {
	color: red;
}

#choose-letter {
	margin: 40px;
	text-align: center;
}

.letter-boxes {
	margin-top: 100px;
	div {
		height: 80px;
		border: 2px solid grey;
		border-radius: 4px;
	}
}